@model ImageWebApplication.Models.AppConfig

@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>
<div>
    <table>
        <tr>
            <td>Log Name: @Model.LogName</td>
        </tr>
        <tr>
            <td>Sourch Name: @Model.SourceName</td>
        </tr>
        <tr>
            <td>Thumbnail Size: @Model.ThumbnailSize</td>
        </tr>
        <tr>
            <td>Output Directory: @Model.OutputDir</td>
        </tr>
    </table>
</div>
<table class="table">
    <tr>Handlers:</tr>
    <tr>
        @foreach (var item in Model.Handlers)
        {
        <tr>
            <td>
                @Html.ActionLink(@item, "Approve", new { handlerToRemove = item})
            </td>
        </tr>
        }
    </table>
